@{
    ViewData["Title"] = "Contacts";
}

<body>

    <h1>Контакты</h1>
    <div class="contact-info">
        <p><strong>Адрес:</strong> Сморговский тракт 9, Минск, Беларусь</p>
        <p><strong>Телефон:</strong> +375 29 123-45-67</p>
        <p><strong>Электронная почта:</strong> info@eventhub.by</p>
        <p><strong>Instagram:</strong> <a href="https://t.me/fk8ght">EventHub</a></p>
        <p><strong>Telegram канал:</strong> <a href="https://t.me/fk8ght">EventHub</a></p>
    </div>

    <h2>Наш офис на карте:</h2>
    <div id="map" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1975.2859854383266!2d27.551383640012883!3d53.931314841164564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1743247146514!5m2!1sru!2sby" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <style>

        h1 {
            color: #333;
        }

        p {
            color: #555;
            line-height: 1.6;
        }

        .contact-info {
            margin-bottom: 20px;
            font-size: 18px;
        }

        #map {
            width: 100%;
            height: 400px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>

</body>