@{
    ViewData["Title"] = "Policy";
}

<body>

    <style>
        .h1class {
            color: #333;
        }

        .pclass, .olclass {
            font-size:19px;
            color: #555;
            line-height: 1.6;
        }

        .olclass {
            list-style-type: none;
            padding: 0;
        }

        .liclass {
            background: #e2e2e2;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
        }
    </style>

    <h1 class="h1class">О нас</h1>
    <p class="pclass">Добро пожаловать в Event Hub — ваш надежный партнер в мире развлечений! Наша платформа предлагает удобный и быстрый доступ к билетам на разнообразные мероприятия: от концертов и театральных представлений до спортивных событий и выставок.</p>

    <p class="pclass">Мы гордимся тем, что предоставляем нашим пользователям:</p>

    <ol class="olclass">
        <li class="liclass"><strong>Круглосуточную поддержку</strong>: Наша команда всегда на связи, готовая помочь вам в любое время суток. Вы можете обратиться к нам с любыми вопросами или проблемами, и мы гарантируем оперативный ответ.</li>
        <li class="liclass"><strong>Доступные цены</strong>: В Event Hub мы стремимся сделать развлечения доступными для всех. Мы предлагаем широкий выбор билетов по разумным ценам, чтобы каждый мог найти что-то по своему вкусу и бюджету.</li>
        <li class="liclass"><strong>Акции и специальные предложения</strong>: Следите за нашими акциями и скидками! Мы регулярно предлагаем уникальные предложения, которые помогут вам сэкономить на покупке билетов.</li>
        <li class="liclass"><strong>Удобный интерфейс</strong>: Наш сайт создан с учетом потребностей пользователей. Легкий и интуитивно понятный интерфейс позволяет быстро находить и бронировать билеты на интересующие мероприятия.</li>
    </ol>

    <p class="pclass">Присоединяйтесь к Event Hub и откройте для себя мир незабываемых событий!</p>

</body>